<div class="row border-bottom border-white">


            <div class="col-10" style="margin-top: 15px">
                <a href="{{ path('homepage') }}" style="text-decoration: none">
                <h3 class="font-weight-bold offset-2 text-white">Blog TopTive</h3>
                </a>
            </div>

            <a href="{{ path('homepage') }}" class="col-2 text-right">
                <img class="img-fluid" style="height: 60px; margin: 10px" src="https://www.toptive.co/wp-content/themes/toptive/assets/brand/black_logo.png"/>
            </a>

</div>



